<div class="profile_space">
  <%= link_to '一覧に戻る', employees_path, class: 'btn btn-primary mt-3' %>

  <%= render partial: 'employee_info', locals: { employee: @employee } %>

  <div class="mt-3 row">
    <p class="fw-bold">プロフィール</p>
    <p class="profile_value"><%= @profile.profile %></p>
  </div>
</div>
